.btn-style-v2 {
  background-color: var(--background-light);
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  transition: color, background-color, 0.3s;
  
  &:hover {
    background-color: var(--text);
    color: var(--background);
  }
}
