.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media screen and(min-width:776px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.certificateCard {
  width: 90%;

  @media screen and(min-width:776px) {
    max-width: 32%;
  }

  &__image {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    max-height: 290px;
    img {
      height: fit-content;
      width: 100%;
      transition: all 0.3s;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(326, 100%, 62%, 0.2);
    background-image: linear-gradient(
      225deg,
      hsl(326, 100%, 62%, 0.2) 0%,
      hsl(272, 36%, 66%, 0.2) 50%,
      hsl(205, 64%, 67%, 0.2) 100%
    );
    padding: 0.5rem;
    color: white;

    @media screen and(min-width:768px) {
      min-height: 4.25rem;
    }
  }
}
