.logoContainer {
  width: 42%;
  user-select: none;
  display: block;
  $colorOne: black;
  $colorTwo: white;
  padding: 3px;
  transition: box-shadow 0.3s;
  border-radius: 0.3125rem;
  max-width: 9.0625rem;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translate(0, 2px);
    opacity: 0.8;
  }

  .logoTop {
    display: flex;
    justify-content: space-evenly;
    padding: 0.2rem;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    border: 2px solid $colorTwo;
    font-weight: 500;

    .logoFill {
      color: $colorOne;
      background-color: $colorTwo;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logoNoFill {
      background-color: $colorOne;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .logoBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoLine {
      width: 25%;
      color: $colorTwo;
      border: none;
      height: 0.125rem;
      background-color: $colorTwo;
    }

    .logoLegend {
      // font-size: 0.5193rem;
      font-size: 0.615rem;
      width: 74%;
      display: flex;
      align-items: center;
      justify-content: right;
    }
  }
}
