@mixin menu-burger {
  width: 2rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: transform, opcity, 0.3s;

  @media screen and (width >= 768px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
    & .line {
      transition: opacity 0.3s;
      opacity: 0.8;
    }
  }

  &:active {
    transform: scale(0.8);
  }

  .line {
    background-color: var(--text);
    width: inherit;
    height: 0.25rem;
    border-radius: 1rem;
    transition: transform 0.3s;

    &.active {
      position: absolute;
      inset: unset;
      transition: transform 0.3s;
    }
    &:first-child.active {
      transform: rotate(45deg);
    }

    &:nth-child(2).active {
      transform: rotate(-135deg);
      opacity: 0;
    }

    &:last-child.active {
      transform: rotate(-45deg);
    }
  }
}
