.nav-desk {
    width: max-content;
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @media screen and (width < 768px) {
        display: none;
    }

    &__link {
        display: grid;
        place-content: center;
        transition: transform .3s;
        font-size: 1.1rem;
        font-weight: 700;
        text-shadow: 0 0 5px hsl(0, 0%, 0%, .25);
        background-color: transparent;
        height: 100%;
        position: relative;

        &.active{
            font-size: 1.3em;
            font-weight: 800;
            &::after{
                display: none;
            }
        }
        
        &:hover::after {
            left: 0%;
            height: 4px;
            right: 0%;
        }

        &::after {
            transition: left, right, height,.3s;
            content: "";
            background-color: var(--text);
            position: absolute;
            bottom: -1rem;
            left: 50%;
            right: 50%;
        }



        &:last-child {
            @include btn-secundary;
            font-size: 1.1rem;
            font-weight: 700;

            &::after {
                display: none;
            }

        }


        &:hover {
            text-shadow: 0 0 15px hsl(0, 0%, 0%, .5);

        }


    }
}