.project-detail {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;

    &__image-wrapper {
        margin: auto;
        margin-bottom: -2rem;
        width: 100%;
        height: 40vh;
        overflow: hidden;
    }

    &__image {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
    }

    &__heading {
        @include heading-secundary;
    }

    &__bottom {
        min-height: 60vh;
        background-color: var(--background);
        border-radius: 1.25rem 1.25rem 0 0;
        color: var(--text);
        padding: 1rem 1.5rem;
        padding-bottom: 2rem;
    }

    &__content {
        padding: 1rem 0;
        border-radius: 1rem 1rem 0 0;
        display: grid;
        place-items: center;
        gap: 1rem;
        text-align: center;
        position: relative;
    }

    &__stack {
        display: flex;
        gap: 0.5rem;
        justify-content: left;
        align-items: center;
        width: 100%;
        margin: 0.5rem 0;
        flex-wrap: wrap;

        .stack {
            color: rgb(0, 0, 0);
            border-radius: 0.25rem;
            font-weight: 700;
            font-size: 0.9rem;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__link {
        @include btn-primary;
    }

    &__button {
        border: none;
        border-radius: 50%;
        background-color: transparent;
        width: max-content;
        height: max-content;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__icon {
        font-size: 1.5rem;
        color: var(--text);
    }

    @media screen and (min-width: 768px) {
        min-height: 100vh;
        margin-top: 3.5rem;
        padding: 1rem 2rem;
        background: var(--elements);
        background: radial-gradient(circle,
                var(--background-fourty) 0%,
                var(--elements-thirdy) 35%,
                var(--background) 100%);

        &__image-wrapper {
            width: unset;
            min-height: unset;
            margin: auto;
            margin-bottom: -1rem;
            max-height: 50vh;
            width: max-content;
            height: max-content;
            max-width: 80vw;
            border-radius: 1rem;
            transform: translateX(-3rem);
            box-shadow: 0 0 15px 1px var(--shadow);
        }

        &__bottom {
            margin: auto;
            min-height: unset;
            height: min-content;
            border-radius: 1rem;
            max-height: 50vh;
            max-width: 80vw;
            width: max-content;
            height: max-content;
            transform: translateX(3rem);
            box-shadow: 0 0 15px 1px var(--shadow);
        }
    }

    @media screen and (min-width: 1024px) {

        &__image-wrapper {
            max-width: 60vw;
        }

        &__bottom {
            max-width: 60vw;
        }
    }
}