.resume {
    @include route;
    padding-bottom: 2rem;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
        padding-bottom: 4rem;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 0.15rem;
        padding: 0 1rem;

        &--skills {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media screen and (width >= 768px) {
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
        }
    }

    &__name {
        @include heading-primary;
        text-align: center;
        font-size: 1.75rem;

        @media screen and (width >= 768px) {
            font-size: 2.25rem;
        }

   }

    &__occupation {
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
        color: var(--elements-two);
    }

    &__paragraph {
        text-align: center;
        @media screen and (width >= 768px) {
            font-size:1.2rem;
        }
    }

    &__subsection {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &--stack {
            gap: 0.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem
    }

    &__download-button {
        @include btn-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: max-content;

        &__icon {
            color: var(--text);
            font-size: 1.5rem;
        }
    }

    &__button {
        @include btn-secundary;
    }
}