@mixin route {
    color: var(--text);
    background-color: var(--background);
    min-height: 100vh;
    position: relative;
    margin-top: 3.5rem;

    @media screen and (width >=768px) {
        padding: 1.5rem;
    }
}