* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (width >= 768px) {
  * {
    font-size: 18px;
  }
}
@media screen and (width >= 1024px) {
  * {
    font-size: 20px;
  }
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  font-weight: 400;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: Nunito, sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--background);
  color: var(--text);
}
.app.light {
  --elements: hsl(16, 100%, 40%);
  --elements-transparent: hsl(16, 100%, 40%, .25);
  --elements-secundary: hsl(16, 100%, 55%);
  --elements-secundary-transparent: hsl(16, 100%, 55%, .25);
  --elements-thirdy: hsl(16, 100%, 20%);
  --background: hsl(165, 20%, 80%);
  --background-trasnparent: hsl(165, 20%, 80%,.95);
  --background-secundary: hsl(165, 20%, 95%);
  --background-thirdy: hsl(165, 20%, 80%);
  --background-fourty: hsl(165, 20%, 75%);
  --background-fifty: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 0%);
  --shadow: hsl(0, 0%, 0%,.1);
}
.app.dark {
  --elements: hsl(16, 100%, 40%);
  --elements-transparent: hsl(16, 100%, 40%, .25);
  --elements-secundary: hsl(16, 100%, 55%);
  --elements-secundary-transparent: hsl(16, 100%, 55%, .25);
  --elements-thirdy: hsl(16, 100%, 20%);
  --background: hsl(0, 0%, 0%);
  --background-trasnparent: hsl(0, 0%, 0%, .95);
  --background-secundary: hsl(0, 0%, 5%);
  --background-thirdy: hsl(0, 0%, 20%);
  --background-fourty: hsl(0, 0%, 15%);
  --background-fifty: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 100%);
  --shadow: hsl(0, 0%, 100%,.1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements);
  z-index: 3;
}
@media screen and (width >= 768px) {
  .header {
    padding: 0;
    padding-right: 1rem;
    overflow-y: hidden;
  }
}
.header__logo {
  height: 2.5rem;
}
@media screen and (width >= 768px) {
  .header__logo {
    margin: 0.5rem 0;
    margin-left: 0.75rem;
  }
}
.header__menu-toggle {
  width: 2rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: transform, opcity, 0.3s;
  width: 2rem;
}
@media screen and (width >= 768px) {
  .header__menu-toggle {
    display: none;
  }
}
.header__menu-toggle:hover {
  cursor: pointer;
}
.header__menu-toggle:hover .line {
  transition: opacity 0.3s;
  opacity: 0.8;
}
.header__menu-toggle:active {
  transform: scale(0.8);
}
.header__menu-toggle .line {
  background-color: var(--text);
  width: inherit;
  height: 0.25rem;
  border-radius: 1rem;
  transition: transform 0.3s;
}
.header__menu-toggle .line.active {
  position: absolute;
  inset: unset;
  transition: transform 0.3s;
}
.header__menu-toggle .line:first-child.active {
  transform: rotate(45deg);
}
.header__menu-toggle .line:nth-child(2).active {
  transform: rotate(-135deg);
  opacity: 0;
}
.header__menu-toggle .line:last-child.active {
  transform: rotate(-45deg);
}

.home {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
  margin-top: 3.5rem;
}
@media screen and (width >= 768px) {
  .home {
    padding: 1.5rem;
  }
}
@media screen and (width >= 768px) {
  .home {
    padding: 0.5rem 0;
    padding-bottom: 0;
  }
}

.cover {
  background-color: var(--background);
  border-bottom: 2px dashed var(--elements);
  border-top: 2px dashed var(--elements);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: none;
}
@media screen and (width >= 768px) {
  .cover {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.cover__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}
.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 1.55rem;
}
.cover__title-greeting {
  background-color: var(--elements);
  width: -moz-max-content;
  width: max-content;
  padding: 0 0.5rem;
}
.cover__title-name {
  font-size: 1.5rem;
  font-weight: 800;
  font-size: 4rem;
}
.cover__title-profession {
  color: var(--elements-secundary);
}
.cover__figure {
  border-radius: 60%;
  overflow: hidden;
  width: 50%;
  margin: 1rem auto;
  border: 2px solid var(--text);
  aspect-ratio: 1/1;
}
.cover__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cover__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (width >= 768px) {
  .cover__description {
    gap: 2rem;
  }
}
.cover__greeting {
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 2px dashed var(--elements);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-left: 0;
}
.cover__intro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cover__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cover__download-link {
  display: inline-block;
  padding: 6px 24px;
  border: 2px solid var(--elements);
  border-radius: 4px;
  transition-property: color, border, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: inherit;
  z-index: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.cover__download-link:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.cover__download-link:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--elements);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.cover__download-link:hover {
  color: var(--text);
  border: 1px solid var(--elements);
}
.cover__download-link:hover:before {
  top: -35%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.cover__download-link:hover:after {
  top: -45%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.cover__download-link:active {
  transform: scale(0.85);
}
.cover__download-icon {
  font-size: 1.5rem;
}
.cover__online-cv-link {
  display: inline-block;
  padding: 6px 24px;
  border: 2px solid var(--elements);
  border-radius: 4px;
  transition-property: color, border, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: inherit;
  z-index: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: -moz-min-content;
  height: min-content;
  margin: 0;
}
.cover__online-cv-link:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.cover__online-cv-link:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--elements);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.cover__online-cv-link:hover {
  color: var(--text);
  border: 1px solid var(--elements);
}
.cover__online-cv-link:hover:before {
  top: -35%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.cover__online-cv-link:hover:after {
  top: -45%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.cover__online-cv-link:active {
  transform: scale(0.85);
}

.stack-preview {
  background-color: var(--background);
  border-bottom: 2px dashed var(--elements);
  border-top: 2px dashed var(--elements);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  background-color: var(--background-secundary);
}
.stack-preview__title {
  font-size: 1.25rem;
  font-weight: 700;
}
.stack-preview__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.stack-preview__button {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
}
.stack-preview__button:hover {
  background-color: var(--text);
  color: var(--background);
}

.stack-card {
  width: 30%;
  aspect-ratio: 1/1.25;
  background-color: var(--background-fifty);
  color: var(--background);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  max-width: 7.5rem;
  text-align: center;
}
@media screen and (width >= 768px) {
  .stack-card {
    max-width: 15vw;
  }
}
@media screen and (width >= 1024px) {
  .stack-card {
    max-width: 11vw;
  }
}
.stack-card__image-wrapper {
  width: 90%;
  aspect-ratio: 1/1.25;
  overflow: hidden;
  display: flex;
}
.stack-card__image {
  margin: auto;
  height: 100%;
  width: auto;
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.projects-preview {
  background-color: var(--background);
  border-bottom: 2px dashed var(--elements);
  border-top: 2px dashed var(--elements);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
}
.projects-preview__title {
  font-size: 1.25rem;
  font-weight: 700;
}
.projects-preview__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media screen and (width >= 1024px) {
  .projects-preview__cards {
    gap: 3rem 2.5rem;
  }
}
.projects-preview__button {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
  margin-top: 0.5rem;
}
.projects-preview__button:hover {
  background-color: var(--text);
  color: var(--background);
}

.project-card {
  border-radius: 1rem;
  position: relative;
}
@media screen and (width >= 768px) {
  .project-card {
    max-width: 45vw;
  }
}
.project-card__image-wrapper {
  aspect-ratio: 1/0.6;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.project-card__image {
  width: 100%;
  transition: transform 0.3s;
  min-height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-card__image:hover {
  transform: scale(1.1);
}
.project-card__link {
  position: absolute;
  top: calc(100% - 1rem);
  left: 35%;
  right: 35%;
  padding: 0.25rem;
  border-radius: 2rem;
  background-color: var(--text);
  color: var(--background);
  display: grid;
  border: 1px solid var(--background);
  place-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  transition: background-color, color, border, 0.3s;
}
.project-card__link:hover {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
}

.contact-preview {
  background-color: var(--background);
  border-bottom: 2px dashed var(--elements);
  border-top: 2px dashed var(--elements);
  padding: 2rem 1rem;
  background-color: var(--background-secundary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: none;
  padding-bottom: 2rem;
}
.contact-preview__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (width >= 768px) {
  .contact-preview__content {
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
  }
}
.contact-preview__heading {
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
}
.contact-preview__figure {
  width: 50%;
}
@media screen and (width >= 768px) {
  .contact-preview__figure {
    width: 70%;
  }
}
.contact-preview__button {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
  width: max-content;
}
.contact-preview__button:hover {
  background-color: var(--text);
  color: var(--background);
}

.footer {
  width: 100%;
  margin: auto;
  margin-bottom: 0;
  width: 100%;
  padding: 0.75rem 1rem;
  padding-top: 1.5rem;
  background-color: var(--background-thirdy);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}
@media screen and (width >= 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.footer .footer__text {
  text-align: center;
}
.footer div {
  display: flex;
  gap: 1.5rem;
}
.footer div .footer__link, .footer div .footer__icon {
  font-size: 2rem;
  transition: transform 0.3s;
  display: grid;
  place-content: center;
}
.footer div .footer__link:hover, .footer div .footer__icon:hover {
  transform: scale(1.1);
}

.contact {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 2rem;
}
@media screen and (width >= 768px) {
  .contact {
    padding: 1.5rem;
  }
}
.contact__heading {
  font-size: 1.5rem;
  font-weight: 800;
  height: -moz-max-content;
  height: max-content;
}
.contact__submit {
  display: inline-block;
  padding: 6px 24px;
  border: 2px solid var(--elements);
  border-radius: 4px;
  transition-property: color, border, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: inherit;
  z-index: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: -moz-min-content;
  height: min-content;
  background-color: var(--elements);
  margin: 2rem auto;
}
.contact__submit:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.contact__submit:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--elements);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.contact__submit:hover {
  color: var(--text);
  border: 1px solid var(--elements);
}
.contact__submit:hover:before {
  top: -35%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.contact__submit:hover:after {
  top: -45%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.contact__submit:active {
  transform: scale(0.85);
}
.contact__link {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
  height: -moz-max-content;
  height: max-content;
}
.contact__link:hover {
  background-color: var(--text);
  color: var(--background);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.input .input-wrapper {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.input .label {
  font-size: 0.9rem;
}
.input .bar {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 3px;
  background-color: var(--elements);
  transition: left 0.2s, right 0.2s;
}
.input .input {
  padding: 0.75rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  background-color: var(--background-thirdy);
}
.input .input::-moz-placeholder {
  color: hsl(0, 0%, 70%);
}
.input .input::placeholder {
  color: hsl(0, 0%, 70%);
}
.input .input:focus::-moz-placeholder {
  color: hsla(0, 0%, 60%, 0);
}
.input .input:focus::placeholder {
  color: hsla(0, 0%, 60%, 0);
}
.input .input:focus + .bar {
  left: 0;
  right: 0;
}
.input .input-error {
  font-style: italic;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.input .input-error.active {
  text-shadow: 2px 2px 10px hsla(0, 0%, 100%, 0.25);
  color: red;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.textarea .textArea-wrapper {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.textarea .label {
  font-size: 0.9rem;
}
.textarea .bar {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 0.32rem;
  background-color: var(--elements);
  transition: left 0.2s, right 0.2s;
}
.textarea .textArea {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  background-color: var(--background-thirdy);
  resize: none;
}
.textarea .textArea::-moz-placeholder {
  color: hsl(0, 0%, 70%);
}
.textarea .textArea::placeholder {
  color: hsl(0, 0%, 70%);
}
.textarea .textArea:focus {
  color: white;
}
.textarea .textArea:focus::-moz-placeholder {
  color: hsla(0, 0%, 60%, 0);
}
.textarea .textArea:focus::placeholder {
  color: hsla(0, 0%, 60%, 0);
}
.textarea .textArea:focus + .bar {
  left: 0;
  right: 0;
}
.textarea .textArea-error {
  font-style: italic;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.textarea .textArea-error.active {
  text-shadow: 2px 2px 10px hsla(0, 0%, 100%, 0.25);
  color: red;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 32.5rem;
}
@media screen and (width >= 768px) {
  .form {
    margin: 0 auto;
  }
}

.contact-message {
  position: fixed;
  inset: 0 0 0 0;
  display: grid;
  place-items: center;
  background-color: hsla(0, 100%, 0%, 0.75);
  z-index: 1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.contact-message__content {
  max-width: 90%;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  background-color: var(--background-secundary);
  border: 3px solid var(--elements);
  font-size: 1.25rem;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}
.contact-message__text {
  text-align: center;
}
.contact-message__button {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
}
.contact-message__button:hover {
  background-color: var(--text);
  color: var(--background);
}

.spinner-container {
  position: fixed;
  background-color: var(--background-trasnparent);
  inset: 0 0 100% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  transition: inset 0.3s;
  gap: 3rem;
  z-index: 2;
}
.spinner-container .spinner__text {
  font-size: 1.25rem;
  font-weight: 700;
  width: -moz-max-content;
  width: max-content;
}
.spinner-container .spinner {
  position: relative;
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.spinner-container .spinner::before,
.spinner-container .spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
.spinner-container .spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, var(--elements) 0%, var(--elements-thirdy) 100%);
  animation: spin8932 0.5s infinite linear;
}
.spinner-container .spinner:after {
  width: 75%;
  height: 75%;
  background-color: var(--background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin8932 {
  to {
    transform: rotate(360deg);
  }
}
.spinner-container.active {
  inset: 0;
  top: 3.5rem;
}

.projects {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
  margin-top: 3.5rem;
  display: grid;
  place-content: center;
  gap: 2.5rem;
  padding: 1rem;
  padding-bottom: 3rem;
}
@media screen and (width >= 768px) {
  .projects {
    padding: 1.5rem;
  }
}
@media screen and (width >= 1024px) {
  .projects {
    gap: 3rem 2.5rem;
  }
}
.projects__heading {
  font-size: 1.5rem;
  font-weight: 800;
}
.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 1rem;
}
.projects__button {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
  margin: 0 auto;
  margin-top: 3rem;
}
.projects__button:hover {
  background-color: var(--text);
  color: var(--background);
}

.project-detail {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem;
}
.project-detail__image-wrapper {
  margin: auto;
  margin-bottom: -2rem;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.project-detail__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}
.project-detail__heading {
  font-size: 1.25rem;
  font-weight: 700;
}
.project-detail__bottom {
  min-height: 60vh;
  background-color: var(--background);
  border-radius: 1.25rem 1.25rem 0 0;
  color: var(--text);
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
}
.project-detail__content {
  padding: 1rem 0;
  border-radius: 1rem 1rem 0 0;
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
  position: relative;
}
.project-detail__stack {
  display: flex;
  gap: 0.5rem;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}
.project-detail__stack .stack {
  color: rgb(0, 0, 0);
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 0.9rem;
}
.project-detail__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.project-detail__link {
  display: inline-block;
  padding: 6px 24px;
  border: 2px solid var(--elements);
  border-radius: 4px;
  transition-property: color, border, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: inherit;
  z-index: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: -moz-min-content;
  height: min-content;
}
.project-detail__link:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.project-detail__link:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--elements);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.project-detail__link:hover {
  color: var(--text);
  border: 1px solid var(--elements);
}
.project-detail__link:hover:before {
  top: -35%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.project-detail__link:hover:after {
  top: -45%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.project-detail__link:active {
  transform: scale(0.85);
}
.project-detail__button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.project-detail__icon {
  font-size: 1.5rem;
  color: var(--text);
}
@media screen and (min-width: 768px) {
  .project-detail {
    min-height: 100vh;
    margin-top: 3.5rem;
    padding: 1rem 2rem;
    background: var(--elements);
    background: radial-gradient(circle, var(--background-fourty) 0%, var(--elements-thirdy) 35%, var(--background) 100%);
  }
  .project-detail__image-wrapper {
    width: unset;
    min-height: unset;
    margin: auto;
    margin-bottom: -1rem;
    max-height: 50vh;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    max-width: 80vw;
    border-radius: 1rem;
    transform: translateX(-3rem);
    box-shadow: 0 0 15px 1px var(--shadow);
  }
  .project-detail__bottom {
    margin: auto;
    min-height: unset;
    height: -moz-min-content;
    height: min-content;
    border-radius: 1rem;
    max-height: 50vh;
    max-width: 80vw;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    transform: translateX(3rem);
    box-shadow: 0 0 15px 1px var(--shadow);
  }
}
@media screen and (min-width: 1024px) {
  .project-detail__image-wrapper {
    max-width: 60vw;
  }
  .project-detail__bottom {
    max-width: 60vw;
  }
}

.stack {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
  margin-top: 3.5rem;
  padding: 1.5rem 1rem;
  display: grid;
  align-items: center;
  gap: 2rem;
}
@media screen and (width >= 768px) {
  .stack {
    padding: 1.5rem;
  }
}
.stack__heading {
  font-size: 1.5rem;
  font-weight: 800;
}
.stack__stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
}
.stack__button {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
}
.stack__button:hover {
  background-color: var(--text);
  color: var(--background);
}

.resume {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
  margin-top: 3.5rem;
  padding-bottom: 2rem;
}
@media screen and (width >= 768px) {
  .resume {
    padding: 1.5rem;
  }
}
.resume__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  padding-bottom: 4rem;
}
.resume__section {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  padding: 0 1rem;
}
.resume__section--skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (width >= 768px) {
  .resume__section--skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.resume__name {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  font-size: 1.75rem;
}
@media screen and (width >= 768px) {
  .resume__name {
    font-size: 2.25rem;
  }
}
.resume__occupation {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: var(--elements-two);
}
.resume__paragraph {
  text-align: center;
}
@media screen and (width >= 768px) {
  .resume__paragraph {
    font-size: 1.2rem;
  }
}
.resume__subsection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.resume__subsection--stack {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.resume__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.resume__download-button {
  display: inline-block;
  padding: 6px 24px;
  border: 2px solid var(--elements);
  border-radius: 4px;
  transition-property: color, border, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: inherit;
  z-index: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: -moz-max-content;
  width: max-content;
}
.resume__download-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.resume__download-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--elements);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.resume__download-button:hover {
  color: var(--text);
  border: 1px solid var(--elements);
}
.resume__download-button:hover:before {
  top: -35%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.resume__download-button:hover:after {
  top: -45%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.resume__download-button:active {
  transform: scale(0.85);
}
.resume__download-button__icon {
  color: var(--text);
  font-size: 1.5rem;
}
.resume__button {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
}
.resume__button:hover {
  background-color: var(--text);
  color: var(--background);
}

.cv-heading-section {
  width: 100%;
  position: relative;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}
.cv-heading-section__line {
  background-color: var(--elements);
  border: none;
  height: 2px;
  left: 0;
  right: 0;
  top: calc(50% - 1px);
  position: absolute;
}
.cv-heading-section__title {
  position: relative;
  z-index: 1;
  background-color: var(--elements);
  padding: 0.25rem 1rem;
  font-size: 1rem;
}
@media screen and (width >= 768px) {
  .cv-heading-section__title {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.cv-skill {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 1rem;
}
.cv-skill__icon {
  width: -moz-max-content;
  width: max-content;
  font-size: 1.25rem;
}

@media screen and (width >= 768px) {
  .education {
    padding: 0.5rem 2rem;
  }
}
.education__institution {
  font-size: 1rem;
  font-weight: 800;
}
.education__period {
  font-style: italic;
}
.education__degree {
  font-weight: 600;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (width >= 768px) {
  .experience {
    padding: 0.5rem 2rem;
  }
}
.experience__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.experience__company {
  font-size: 1.1rem;
  font-weight: 800;
}
.experience__details {
  font-size: 0.88rem;
  font-style: italic;
  font-weight: 600;
}
.experience__activities {
  padding-left: 1rem;
}
.experience__description {
  line-height: 1.6;
}
.experience__activity {
  list-style: circle;
}

.personal-info {
  padding: 1rem 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (width >= 768px) {
  .personal-info {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem 1.5rem;
    margin-top: 1rem;
  }
}
.personal-info__item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
.personal-info__icon {
  font-size: 1.25rem;
}
.personal-info__link {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.download-button {
  background-color: var(--elements-secundary);
  color: var(--text);
  aspect-ratio: 1/0.25;
  font-size: 1.2rem;
  width: 11.875rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  border: none;
  max-height: 2.625rem;
}
.download-button:hover .download-button__icon-container {
  transition: width 0.3s;
  width: 100%;
}
.download-button:active {
  transform: scale(0.9);
}
.download-button__text {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1rem;
  padding-right: 30%;
  width: -moz-max-content;
  width: max-content;
  text-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
  font-weight: 700;
}
.download-button__icon-container {
  transition: width 0.3s;
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--elements);
}
.download-button__icon {
  font-size: inherit;
}

.button-neon {
  background-image: linear-gradient(19deg, var(--elements-secundary) 0%, var(--elements) 100%);
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 1.0625rem;
  border-radius: 10em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8rem;
  padding-right: 3.3rem;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 0 1.6rem var(--elements-transparent), 0 0 1.6rem var(--elements-secundary-transparent);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  font-weight: 700;
}

.button-neon .icon {
  background: var(--text);
  margin-left: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 10rem;
  right: 0.3rem;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button-neon:hover .icon {
  width: calc(100% - 0.6rem);
}

.button-neon .icon svg {
  width: 1.1rem;
  transition: transform 0.3s;
  color: var(--elements-secundary);
}

.button-neon:hover .icon svg {
  transform: translateX(0.1rem);
}

.button-neon:active .icon {
  transform: scale(0.9);
}

.button-icon-rotate {
  width: -moz-max-content;
  width: max-content;
  font-family: inherit;
  font-size: 1.5rem;
  background: linear-gradient(to bottom, var(--elements) 0%, var(--elements-secundary) 100%);
  color: white;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px var(--elements-secundary-transparent);
  transition: all 0.3s;
  margin: 0 auto;
}

.button-icon-rotate:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px var(--elements-transparent);
}

.button-icon-rotate:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-icon-rotate span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.button-icon-rotate .icon {
  transition: transform 0.3s;
  font-size: 0.9em;
}

.button-icon-rotate .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
  padding: 0.125rem;
}

.button-icon-rotate:hover .icon-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-icon-rotate:hover .icon {
  transform: rotate(45deg);
}

.nav-mobile {
  position: fixed;
  background-color: var(--background-trasnparent);
  overflow: hidden;
  transition: inset 0.3s;
  inset: 3.5rem 0 0 100%;
  z-index: 3;
  color: var(--text);
}
.nav-mobile.active {
  transition: inset 0.3s;
  inset: 3.5rem 0 0 0;
}
.nav-mobile__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30%;
  right: 0;
  background-color: var(--elements);
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 0;
  gap: 1rem;
  align-items: center;
}
.nav-mobile__link {
  transition: transform 0.3s;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 0 5px hsla(0, 0%, 0%, 0.25);
}
.nav-mobile__link:last-child {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-mobile__link:last-child:hover {
  background-color: var(--text);
  color: var(--background);
}
.nav-mobile__link:hover {
  transform: scale(1.1) translate(0, 0);
  text-shadow: 0 0 15px hsla(0, 0%, 0%, 0.5);
}

.nav-desk {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (width < 768px) {
  .nav-desk {
    display: none;
  }
}
.nav-desk__link {
  display: grid;
  place-content: center;
  transition: transform 0.3s;
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: 0 0 5px hsla(0, 0%, 0%, 0.25);
  background-color: transparent;
  height: 100%;
  position: relative;
}
.nav-desk__link.active {
  font-size: 1.3em;
  font-weight: 800;
}
.nav-desk__link.active::after {
  display: none;
}
.nav-desk__link:hover::after {
  left: 0%;
  height: 4px;
  right: 0%;
}
.nav-desk__link::after {
  transition: left, right, height, 0.3s;
  content: "";
  background-color: var(--text);
  position: absolute;
  bottom: -1rem;
  left: 50%;
  right: 50%;
}
.nav-desk__link:last-child {
  font-size: 1rem;
  background-color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, 0.3s;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--text);
  font-size: 1.1rem;
  font-weight: 700;
}
.nav-desk__link:last-child:hover {
  background-color: var(--text);
  color: var(--background);
}
.nav-desk__link:last-child::after {
  display: none;
}
.nav-desk__link:hover {
  text-shadow: 0 0 15px hsla(0, 0%, 0%, 0.5);
}

.not-found {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media screen and (width >= 768px) {
  .not-found {
    padding: 1.5rem;
  }
}
.not-found__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.not-found__icon {
  font-size: 6rem;
  border-radius: 50%;
  color: var(--text);
}
.not-found__text {
  font-size: 1.5rem;
  font-weight: 800;
}
.not-found__button {
  display: inline-block;
  padding: 6px 24px;
  border: 2px solid var(--elements);
  border-radius: 4px;
  transition-property: color, border, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: inherit;
  z-index: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: -moz-min-content;
  height: min-content;
}
.not-found__button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.not-found__button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--elements);
  border-radius: 50%;
  display: block;
  transition-property: top, background-color, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.1s;
  z-index: -1;
}
.not-found__button:hover {
  color: var(--text);
  border: 1px solid var(--elements);
}
.not-found__button:hover:before {
  top: -35%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.not-found__button:hover:after {
  top: -45%;
  background-color: var(--elements);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.not-found__button:active {
  transform: scale(0.85);
}

@keyframes rotate {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
.theme-button {
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--elements);
  border-radius: 50%;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  overflow: hidden;
}
.theme-button:active {
  transform: scale(0.9);
}
.theme-button__icon {
  font-size: 0;
  transition: font-size 0.3s;
}
.theme-button__icon.active {
  transition: font-size 0.3s;
  font-size: 1.5rem;
}/*# sourceMappingURL=index.css.map */